.about-section .item-2{
    margin-top: 2em;
}

hr{
    background: red;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .about-section {
        display: flex;
    }
    .about-section .item-2{
        margin-left: 2em;
        margin-top: 0;
    }
    .about-section .item{
        width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .about-section {
        display: flex;
    }
    .about-section .item-2{
        margin-left: 2em;
        margin-top: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .about-section {
        display: flex;
    }
    .about-section .item-2{
        margin-left: 2em;
        margin-top: 0;
    }
}